In [1]:
s = "Hello, world!"

In [2]:
for c in s:
    print(c)

H
e
l
l
o
,

w
o
r
l
d
!

In [4]:
a = [1, 2, 3, True, [5,6,7], 3.1415]

In [6]:
for item in a:
    print("hello")
    print(item)

hello
1
hello
2
hello
3
hello
True
hello
[5, 6, 7]
hello
3.1415

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
range(10)

range(0, 10)

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
n = int(input())

15

In [11]:
n

15

In [17]:
for i in range(n, 0, -1):
    print(i, i**2)

15 225
14 196
13 169
12 144
11 121
10 100
9 81
8 64
7 49
6 36
5 25
4 16
3 9
2 4
1 1

In [19]:
i = 15
while i > 0:
    print(i, i ** 2)
    i -= 1   # i = i - 1

15 225
14 196
13 169
12 144
11 121
10 100
9 81
8 64
7 49
6 36
5 25
4 16
3 9
2 4
1 1

In [20]:
i = 0
while True:
    print(i)
    i += 1
    if i > 15:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [21]:
i = 0
while i < 15:
    i += 1
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14

In [22]:
if i < 15:
    print("<")
elif i == 15:
    print("=")
elif i == 16:
    print("approximately ==")
else:
    print(">")

=

In [23]:
if i < 15:
    print("<")
else:
    if i == 15:
        print("=")
    else:
        if i == 16:
            print("==")
        else:
            print(">")

=

In [30]:
for i in range(3):
    print(i)
else:
    print("else")

0
1
2
else

In [32]:
for i in range(3):
    print(i)
    if i == 2:
        break
else:
    print("else")

0
1
2

In [33]:
if i > 0 and i < 15:
    print("OK")

OK

In [34]:
A = i > 0

In [35]:
A

True

In [36]:
B = i < 15

In [37]:
C = i == 10

In [38]:
if A and B:
    print(1)
elif A and C:
    print(2)

1

In [39]:
if A:
    if B:
        print(1)
    elif C:
        print(2)

1

In [40]:
if A and not B or not A and B:
    print(1)

In [41]:
if i > 0 and i <= 15:
    print("OK")

OK

In [42]:
if 0 < i <= 15:
    print("OK")

OK

In [43]:
if i != 10:
    print("Not equal!")

Not equal!

In [44]:
if i <> 10:
    print("Not equal at all!")

SyntaxError: invalid syntax (<ipython-input-44-3d86590b689c>, line 1)

In [45]:
a = [1, 2, 3, True, None, [5,6,7], 3.14]

In [46]:
a.append(17)

In [47]:
a

[1, 2, 3, True, None, [5, 6, 7], 3.14, 17]

In [48]:
a.pop()

17

In [49]:
a

[1, 2, 3, True, None, [5, 6, 7], 3.14]

In [50]:
a += ["a", "b", "c"]

In [51]:
a

[1, 2, 3, True, None, [5, 6, 7], 3.14, 'a', 'b', 'c']

In [52]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [53]:
a = [[1,2,3]] * 5

In [54]:
a

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [55]:
a[0][0] = 0

In [56]:
a

[[0, 2, 3], [0, 2, 3], [0, 2, 3], [0, 2, 3], [0, 2, 3]]

In [57]:
a[-1][0] = 1

In [58]:
a

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [59]:
b = (1, 2, 3)

In [60]:
a = [1, 2, 3]

In [61]:
type(a)

list

In [62]:
type(b)

tuple

In [63]:
len(b)

3

In [64]:
b[1]

2

In [66]:
d = {"Monday": 1, "Tuesday": 2, "Wednesday": 3}

In [67]:
d["Tuesday"]

2

In [68]:
print(d)

{'Tuesday': 2, 'Monday': 1, 'Wednesday': 3}

In [69]:
d2 = {(8, 9, 2015): 80, (4, 9, 2015): 90}

In [70]:
d2[(4, 9, 2015)]

90

In [71]:
d2[123123]

KeyError: 123123

In [72]:
d[(1,2,3)] = False

In [73]:
d

{(1, 2, 3): False, 'Tuesday': 2, 'Monday': 1, 'Wednesday': 3}

In [74]:
del d[(1,2,3)]

In [75]:
d

{'Monday': 1, 'Tuesday': 2, 'Wednesday': 3}

In [77]:
for key in d:
    print(key, d[key])

Tuesday 2
Monday 1
Wednesday 3

In [78]:
for key in sorted(d.keys()):
    print(key, d[key])

Monday 1
Tuesday 2
Wednesday 3

In [79]:
d["Thursday"] = 4

In [80]:
d["Friday"] = 5

In [82]:
d["Saturday"] = 6

In [83]:
d["Sunday"] = 0

In [84]:
for key in sorted(d.keys()):
    print(key, d[key])

Friday 5
Monday 1
Saturday 6
Sunday 0
Thursday 4
Tuesday 2
Wednesday 3

In [87]:
pairs = list(d.items())

In [88]:
pairs

[('Friday', 5),
 ('Tuesday', 2),
 ('Thursday', 4),
 ('Saturday', 6),
 ('Sunday', 0),
 ('Monday', 1),
 ('Wednesday', 3)]

In [89]:
pairs = [(d[key], key) for key in d]

In [90]:
pairs

[(5, 'Friday'),
 (2, 'Tuesday'),
 (4, 'Thursday'),
 (6, 'Saturday'),
 (0, 'Sunday'),
 (1, 'Monday'),
 (3, 'Wednesday')]

In [91]:
pairs.sort()

In [92]:
pairs

[(0, 'Sunday'),
 (1, 'Monday'),
 (2, 'Tuesday'),
 (3, 'Wednesday'),
 (4, 'Thursday'),
 (5, 'Friday'),
 (6, 'Saturday')]

In [94]:
d_rev = dict(pairs)

In [95]:
d_rev

{0: 'Sunday',
 1: 'Monday',
 2: 'Tuesday',
 3: 'Wednesday',
 4: 'Thursday',
 5: 'Friday',
 6: 'Saturday'}

In [96]:
d_rev[5]

'Friday'

In [98]:
dict([(1, "a"), (1, "b"), (2, "c")])

{1: 'b', 2: 'c'}

In [99]:
s = "Elementary, my dear Watson!"

In [100]:
letters = {}
for c in s:
    if c not in letters:
        letters[c] = 1
    else:
        letters[c] += 1

In [101]:
for key in letters:
    print(key, letters[key])

  3
r 2
W 1
! 1
t 2
m 2
E 1
n 2
a 3
l 1
e 3
d 1
o 1
y 2
s 1
, 1

In [103]:
letters = {}
for c in s:
    letters[c] = letters.get(c, 0) + 1

In [104]:
print(letters)

{' ': 3, 'r': 2, 'W': 1, '!': 1, 't': 2, 'm': 2, 'E': 1, 'n': 2, 'a': 3, 'l': 1, 'e': 3, 'd': 1, 'o': 1, 'y': 2, 's': 1, ',': 1}

In [106]:
A = set([1, 2, 3])

In [107]:
B = set([2, 3, 4, 5])

In [108]:
A.union(B)

{1, 2, 3, 4, 5}

In [109]:
A.intersection(B)

{2, 3}

In [110]:
print(A in B)

False

In [111]:
print(3 in B)

True

In [112]:
len(A)

3

In [113]:
len(B)

4

In [114]:
A.difference(B)

{1}

In [116]:
A | B

{1, 2, 3, 4, 5}

In [118]:
A & B

{2, 3}

In [119]:
A - B

{1}

In [120]:
s

'Elementary, my dear Watson!'

In [121]:
letters = set()

In [122]:
for c in s:
    letters.add(c)

In [123]:
print(letters)

{'t', 'r', 'W', '!', 'm', 'o', 'E', 'd', 'a', 'l', 'e', 'n', 'y', ' ', 's', ','}

In [124]:
print("".join(sorted(letters)))

 !,EWadelmnorsty

In [125]:
ord(".")

46

In [126]:
letters = set(s)

In [127]:
print("".join(sorted(letters)))

 !,EWadelmnorsty

In [128]:
d

{'Friday': 5,
 'Monday': 1,
 'Saturday': 6,
 'Sunday': 0,
 'Thursday': 4,
 'Tuesday': 2,
 'Wednesday': 3}

In [129]:
d["January"]

KeyError: 'January'

In [130]:
d.get("January", 1234)

1234

In [131]:
d.get("Monday", 1234)

1

In [132]:
s.lower()

'elementary, my dear watson!'

In [134]:
print(d.get("January"))

None

In [135]:
if "Monday" in d:
    print(d["Monday"])
else:
    print(1234)

1